{% extends "index.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/topnav.css' %}">
<style>

.btn-group button {
    background-color: none; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

</style>
{% endblock %}
{% block title %}Project detail{% endblock %}
{% load crispy_forms_tags %}
{% load social_share %}
{% block portfolio %}

{% include "includes/projectheader.html"%}

<div class="w3-row-padding">
    <div class="w3-half">

        {% for item in images %}
        <a href="{{ project.project_url }}"><img src="{{ item.image.url }}" alt="{{ item.caption }}" width="100%" style="border: 2px solid"></a>
        {% endfor %}
    </div>
    <div class="w3-half">
        <h5><b>About the project:</b></h5>
        <p>{{ project.description|safe }}</p>
        <br>
        <h5><b>Technologies used:</b></h5>
        <p>{{ project.technology }}</p>
        <br>
        <h5><b>Project URL:</b> <a href="{{ project.project_url }}">{{ project.project_url }}</a></h5>
        <br>
        <h5><b>Share project on:</b></h5>
        <div class="btn-group">
            <button>
                {% post_to_facebook object_or_url '<i class="fa fa-facebook" style="padding:10px; font-size:30px; width:50px; text-align:center; text-decoration:none; margin:5px 2px; background:#3B5998; color:white;"></i>' %}
            </button>
            <button>
                {% post_to_twitter "New Project: {{project.title}}. Check it out!" object_or_url '<i class="fa fa-twitter" style="padding:10px; font-size:30px; width:50px; text-align:center; text-decoration:none; margin:5px 2px; background:#55ACEE; color:white;"></i>' %}
            </button>
            <button>
                {% post_to_linkedin project.title object_or_url '<i class="fa fa-linkedin" style="padding:10px; font-size:30px; width:50px; text-align:center; text-decoration:none; margin:5px 2px; background: #007bb5; color:white;"></i>' %}
            </button>
            <button>
                {% send_email project.title "New Project: {{project.title}}. Check it out!" object_or_url '<i class="fa fa-envelope" style="padding:10px; font-size:30px; width:50px; text-align:center; text-decoration:none; margin:5px 2px; background: #dd4b39; color: white;"></i>' %}
            </button>
        </div>
    </div>
</div>
{% endblock %}