{% extends "index.html" %}
{% load static %}
{% block stylesheet %}
<style>
.btn-group button {
    background-color: none; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

</style>
{% endblock %}
{% block title %}Project detail{% endblock %}
<!--{% load crispy_forms_tags %}-->
{% load social_share %}

{% block portfolio %}
{% include "includes/projectheader.html"%}
<div class="w3-row-padding">
    <div class="w3-half">

        {% for item in images %}
        {% if project.project_url %}
            <a href="{{ project.project_url }}"><img src="{{ item.image.url }}" alt="{{ item.caption }}" width="100%" style="border: 2px solid"></a>
        {% else %}
            <img src="{{ item.image.url }}" alt="{{ item.caption }}" width="100%" style="border: 2px solid">
        {% endif %}
        <div class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-teal w3-padding-large w3-hover-black"><a href="#contact" style="text-decoration: none; color: white">Project Inquiry</a></button>
            {% if project.report_file.url %}
            <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
                <i class="fa fa-download w3-margin-right"></i><a href="{{ project.report_file.url }}" style="text-decoration: none; color: white">Download Report</a>
            </button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="w3-half">
        <h5><b>About the project:</b></h5>
        <p>{{ project.description|safe }}</p>
        <h5><b>Technologies used:</b></h5>
        <p>{{ project.technology }}</p>
        {% if project.project_url %}
        <h5><b>Project URL:</b> <a href="{{ project.project_url }}">{{ project.project_url }}</a></h5>
        {% endif %}
    </div>
</div>
{% endblock %}