{% extends "index.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/topnav.css' %}">
{% endblock %}

{% block portfolio %}
{% include "includes/projectheader.html"%}
    <div class="w3-row-padding">
            {% for p in projects %}
                <div class="w3-third w3-container w3-margin-bottom">
                    <a href="{{ p.get_absolute_url }}">
                        <img src="{{ p.thumb.url }}" alt="{{ p.title }}" style="width:100%" class="w3-hover-opacity">
                    </a>
                    <div class="w3-container w3-white">
                        <p><a href="{{ p.get_absolute_url }}" style="text-decoration: none; color:black"><b>{{ p.title }}</b></a></p>
                        <p><a href="{{ p.get_absolute_url }}" style="text-decoration: none; color:black">{{ p.description| safe | truncatewords:30 }}</a></p>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock portfolio %}