{% load static %}
<header id="portfolio">
        <a href="#"><img src="{% static 'images/logo.PNG' %}" style="width:150px;" class=" w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">

        <h1><b>My Portfolio</b></h1>

        <div class="w3-section w3-bottombar w3-padding-16 topnav">
            <span class="w3-margin-right">Filter:</span>
            <button class="w3-button w3-black "><a href="{% url 'project_list' %}" style="text-decoration: none; color: white">ALL</a></button>
            {% for c in categories %}
            <button class="w3-button w3-white "><a href="{{ c.get_absolute_url }}" style="text-decoration: none; color:black">{{ c.name }}</a></button>
            {% endfor %}

            <div class="search-container">
                 <form action="{% url 'post_search' %}">
                     <input type="text" placeholder="Search.." name="search">
                     <button type="submit"><i class="fa fa-search"></i></button>
                 </form>
            </div>
        </div>
    </div>
</header>